@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.block {
    border: 1px solid black;
    height: 350px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto Mono', monospace;
}

.block h3 {
    opacity: 1;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 30px;
    color: #7b07ffef;
}

.block span {
    font-size: 20px;
    color: #0026ffbb;
}